
.main{
    .space{
        height: 100px;
        }
        .container{
          
            margin-bottom:100px;
            .title{
                margin-bottom: 10px;
                color: #1a90b8;
                font-weight: 500;
                font-size: 16px;
            }
        }
        
        .fi{
            font-size: 22px;
            font-weight: 600;
        }
        
        .imgg{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            
        }
        .news{
            margin-top:10px;
            width: 100%;
            // height:400px;
            background: white;
            box-shadow: 0 0 10px -3px;
            padding:30px;
            // overflow: hidden;
        
            .items{
                transition: 0.3s all;
                cursor: pointer;
                &:hover{
                    background: #f3f3f3;
                }
                &:not(:last-child)  {
                    border-bottom:2px #1691b3 solid;
                }
                &:not(:first-child)  {
                    padding-top: 20px;
                }
                padding-bottom: 20px;
               
            }
            .d{
                font-size: 15px;
            }
        }
        
        .gallery{
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            padding: 0 4px;
        }
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
            padding: 0 4px;
            @media screen and (max-width: 600px) {
        
                  -ms-flex: 100%;
                  flex: 100%;
                  max-width: 100%;
        
              }
          }
        
          .imageContainer{
              padding:20px;
              background-color: white;
              box-shadow: 0 0 10px -3px;
              transition: 0.3s all;
              cursor: pointer;
              width: 90%;
              margin-bottom:30px;
                position: relative;
            left:50%;
            transform: translate(-50%);
              &:hover{
                box-shadow: 0 0 10px -1px;
              }
        
              .t3{
                  font-size: 16px;
              }
              .imgFlex{
                  margin-top:10px;
                  max-height: 400px;
                  overflow: hidden;
                  position: relative;
                  img{
                    position: abolute;
                    //   top:50%;
                    //   transform: translate(0,-25%);
                  }
        
                  
        
        
              }
        
          }
        
          .center{
        
            position: relative;
            left:50%;
        transform: translate(-50%);
              
          }
        
          .contact{
              font-weight: 600;
          }
        
          .contactIcon{
              *{
                  margin-right: 20px;
                  cursor: pointer;
                    &:hover{
                        color: #6b6b6b;
                        
                    }
              }
          }
        
          .copyright{
              text-align: center;
              font-weight: 600;
          }
          .flogo{
              width: 50px;
              margin: 0 auto;
              display: block;
                margin-bottom: 10px;
          }

          i{h6{
            //   background: #40739e;
              max-width: 230px;
              padding:3px 10px;
            //   color: white;
            border-left: 3px solid black;
            margin-bottom: 20px;
              margin-top: -5px;
              font-size: 14px;
          }}

          ._time{
             font-size: 10px; 
            color: rgb(109, 109, 109);
            position:absolute;
            right: 10px;
            top:8px;
          }
          .t2,.t3{  text-transform: capitalize;
          }
}


.achievement,.team,.work{
padding:20px;
    .center{
        text-align: center;
        font-family:'Poppins';
        font-weight: 600;
        margin-top:100px;
        color: #0d264c;
    }
}