
.main{
    .space{
        height: 100px;
        }
        .container{
          
            margin-bottom:100px;
            .title{
                margin-bottom: 10px;
                color: #1a90b8;
                font-weight: 500;
                font-size: 16px;
            }
        }
        
        .fi{
            font-size: 22px;
            font-weight: 600;
        }
        
        .imgg{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            
        }
        .news{
            margin-top:10px;
            width: 100%;
            // height:400px;
            background: white;
            box-shadow: 0 0 10px -3px;
            padding:30px;
            // overflow: hidden;
        
            .items{
                transition: 0.3s all;
                cursor: pointer;
                &:hover{
                    background: #f3f3f3;
                }
                &:not(:last-child)  {
                    border-bottom:2px #1691b3 solid;
                }
                &:not(:first-child)  {
                    padding-top: 20px;
                }
                padding-bottom: 20px;
               
            }
            .d{
                font-size: 15px;
            }
        }
        
        .gallery{
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            padding: 0 4px;
        }
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
            padding: 0 4px;
            @media screen and (max-width: 600px) {
        
                  -ms-flex: 100%;
                  flex: 100%;
                  max-width: 100%;
        
              }
          }
        
          .imageContainer{
            //   padding:20px;
            border-radius: 7px;
            overflow: hidden;

              background-color: white;
              box-shadow: 0 0 10px -3px;
              transition: 0.3s all;
              cursor: pointer;
              width: 90%;
              margin-bottom:30px;
                position: relative;
            left:50%;
            transform: translate(-50%);
              &:hover{
                box-shadow: 0 0 10px -1px;
              }
              .t2{
                margin-top: 20px;
              }
              .t2,.t3{
                padding: 0 15px 0 15px;

              }
        
              .t3{
                  font-size: 16px;
              }
              .imgFlex{
                // display: flex;
                // justify-content: center;

                  margin-top:10px;
                  max-height: 400px;
                  overflow: hidden;
                  padding:4px;
                //   position: absolute;

                  img{
                    position: abolute;
                    border-radius:8px;


                    //   top:50%;
                    //   transform: translate(0,-10%);
                  }
        
                  
        
        
              }
        
          }
        
          .center{
        
            position: relative;
            left:50%;
        transform: translate(-50%);
              
          }
        
          .contact{
              font-weight: 600;
          }
        
          .contactIcon{
              *{
                  margin-right: 20px;
                  cursor: pointer;
                    &:hover{
                        color: #6b6b6b;
                        
                    }
              }
          }
        
          .copyright{
              text-align: center;
              font-weight: 600;
          }
          .flogo{
              width: 50px;
              margin: 0 auto;
              display: block;
                margin-bottom: 10px;
          }

          i{h6{
            //   background: #40739e;
              max-width: 230px;
              padding:3px 10px;
            //   color: white;
            border-left: 3px solid black;
            margin-bottom: 20px;
              margin-top: -5px;
              font-size: 14px;
          }}

          ._time{
             font-size: 10px; 
            color: rgb(109, 109, 109);
            position:absolute;
            right: 10px;
            top:8px;
          }
          .t2,.t3{  text-transform: capitalize;
          }
}


.achievement,.team,.work{
padding:20px;
    .center{
        text-align: center;
        font-family:'Poppins';
        font-weight: 600;
        margin-top:100px;
        color: #0d264c;
    }
}

.achievement{
    .imageContainer{
        //   padding:20px;
        border-radius: 7px;
        overflow: hidden;

          background-color: white;
          box-shadow: 0 0 10px -3px;
          transition: 0.3s all;
          cursor: pointer;
          width: 90%;
          margin-bottom:30px;
            position: relative;
        left:50%;
        transform: translate(-50%);
          &:hover{
            box-shadow: 0 0 10px -1px;
          }
          .t2{
            margin-top: 20px;
            font-size: 1.5em;
            font-weight: 700;
          }
          .t2,.t3{
            font-size: 1.2em;
            padding: 0 15px 0 15px;

          }
    
          .t3{
              font-size: 16px;
          }
          .imgFlex{
            // display: flex;
            // justify-content: center;

              margin-top:10px;
              max-height: 400px;
              overflow: hidden;
              padding:4px;
            //   position: absolute;

              img{
                position: abolute;
                border-radius:8px;


                //   top:50%;
                //   transform: translate(0,-10%);
              }
    
              
    
    
          }
    
      }
      ._time{
        font-size: 10px; 
       color: rgb(109, 109, 109);
       position:absolute;
       right: 10px;
       top:8px;
     }
     .t2,.t3{  text-transform: capitalize;
     }
     .gallery{
         margin-top: 50px;
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }
     .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
        @media screen and (max-width: 600px) {
    
              -ms-flex: 100%;
              flex: 100%;
              max-width: 100%;
    
          }
      }

      .mob{
            margin: 50px 0 0 0;
          display: none;
      }
    .desk{
        max-width: 900px;
        margin: 0 auto;
    }
      @media screen and (max-width: 720px) {
        .desk{
            display: none !important;
        }
        .mob{
            display: block;
        }

    }

    .loader{
        position:sticky;
        bottom:10px;
        left:45%;

    }
    .til{
        // content: '';
        display: block;
        background: #9be9ff7c;
        height: 20px;
        width:190px;
        position: relative;
        transform: translate(-50%,-50%);
        left:50%;
        top:160px;


    }
    z-index: 0;
    .center{
        margin-bottom: 10px;
        z-index: 10 !important;
        position: relative;
    }

}